
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300;400;700&display=swap');


html{
  font-family: 'Nova Square', sans-serif;
  background: radial-gradient(50% 50% at 50% 50%, #00362B 0%, #001320 100%) !important;
    background-repeat: no-repeat !important;
}


nav{
  color: #48FFD5 !important;
  padding: 0px 2% 0 2%;
  background-color: #ee6e7300;
}

nav .nav-wrapper {

  padding: 1% 0 1% 0 !important;
}

.brand-logo > img:nth-child(1) {
  width: 46%;
}

.btn-menu{
  border-radius: 15px;
border: 1px solid #48FFD5;
background-color: #fff0;
color: #48FFD5;
}

.btn-menu:hover{
color: #00223A;
  box-shadow: 2px 2px 9px #48FFD5;

}

.btn-menu-active{
  border-radius: 15px;
border: 1px solid #48FFD5;
color: #00223A;
background-color: #48FFD5;
}


main{
  margin-left: 3%;
  margin-right: 3%;
}


.green-line {
  color: #48ffd5;
  /*! padding: 0 15% 0 15%; */
}

.footer-line {
  padding: 0 15% 0 15%;
}

.footer-text{
  color: #48FFD5;
text-align: center;
font-family: Nova Square;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.titulo-home{
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 99px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.skills{
  color: #FFF;
font-family: Nova Square;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.intro{
  margin-top: 4%;
}

h2{
  color: #48FFD5 !important;
text-shadow: 2px 2px 0px #FFF !important;
font-family: Nova Square !important;
font-size: 48px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
}

.text-about{
  color: #FFF;
font-family: Nova Square;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.img-about{
  text-align: center;
}
