
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300;400;700&display=swap');


html{
  font-family: 'Nova Square', sans-serif;
  background: radial-gradient(50% 50% at 50% 50%, #00362B 0%, #001320 100%) !important;
    background-repeat: no-repeat !important;
}


nav{
  color: #48FFD5 !important;
  padding: 0px 2% 0 2%;
  background-color: #ee6e7300;
}

nav .nav-wrapper {

  padding: 1% 0 1% 0 !important;
}

.brand-logo > img:nth-child(1) {
  width: 46%;
}

nav ul a {
color: #48FFD5 !important;
}



.menu-item{
  border-radius: 15px !important;
border: 1px solid #48FFD5 !important;
background-color: #fff0 !important;


position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;

    letter-spacing: .5px;
      text-align: center;
        text-decoration: none;


        height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  margin: 0 6px 0 12px;
}

.menu-item:hover{
  color: #00223A !important;
    box-shadow: 2px 2px 9px #48FFD5 !important;
    background-color: #48ffd56b !important;

}

.current-menu-item{
  border-radius: 15px !important;
border: 1px solid #48FFD5 !important;
color: #00223A !important;
background-color: #48ffd56b !important;
  margin: 0 6px 0 12px !important;
}

.btn-menu{
  border-radius: 15px;
border: 1px solid #48FFD5;
background-color: #fff0;
color: #48FFD5;
  margin: 0 6px 0 12px;
}

.btn-menu:hover{
color: #00223A;
  box-shadow: 2px 2px 9px #48FFD5;
    background-color: #2bbbad !important;

}

.btn-menu-active{
  border-radius: 15px;
border: 1px solid #48FFD5;
color: #00223A;
background-color: #48FFD5;
  margin: 0 6px 0 12px;
}


main{
  margin-left: 3%;
  margin-right: 3%;
}


.green-line {
  color: #48ffd5;
  /*! padding: 0 15% 0 15%; */
}

.footer-line {
  padding: 0 15% 0 15%;
}

.footer-text{
  color: #48FFD5;
text-align: center;
font-family: Nova Square;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.titulo-home {
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 99px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.titulo-home h1{
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 99px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.skills{
  color: #FFF;
font-family: Nova Square;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.intro{
  margin-top: 4%;
}

h2{
  color: #48FFD5 !important;
text-shadow: 2px 2px 0px #FFF !important;
font-family: Nova Square !important;
font-size: 48px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: normal !important;
}

.text-about{
  color: #FFF;
font-family: Nova Square;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.img-about{
  text-align: center;
}

.sec-about {
  margin-top: 10%;
}

.card-project{
  border: 1px solid #FFF;
background: #48FFD5;
box-shadow: 5px 5px 1px 0px #FFF;
  height: 148px;
}

.hm-project-name{
  color: #00223A;
font-family: Nova Square;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px 15px;
}

.boton-redondo{
  text-align: right;
  margin: 15px;
}

.btn-redondo{
  border-radius: 50px;
background-color: #00101b;
color: #48ffd5;
}

.btn-redondo:hover{
  border: 1px solid #00101b;
  color: #00101b;
}

.contact-form {
     padding: 0 15% 14px 15%;
  border: 1px solid #48ffd5;
  border-radius: 15px;
}

textarea{
  color: #fff !important;
}


input[type="text"]{
    color: #fff !important;
      padding-left: 17px !important;
}

.btn-enviar{
  border-radius: 15px;
}

.input[type="submit"]{
  font-family: Nova Square !important;
}

.sec-contact {
  margin-bottom: 69px;
  margin-top: 2%;

}

.wpcf7-submit {
  background-color: #48FFD5;
  border: 0px;
  padding: 1% 8% 1% 8%;
  font-size: 20px;
  font-family: Nova Square;
  border-radius: 30px;
  cursor: pointer;
}


.card-skill{
  border: 1px solid #FFF;
background: #48FFD5;
box-shadow: 5px 5px 1px 0px #FFF;
  padding: 6%;
    height: 602px;
}

.card-skill:hover{
    background: #48FFD5B0;
    box-shadow: 2px 2px 1px 0px #FFF;
}
.skill-name {
  color: #00223A;
  text-shadow: 2px 2px 0px #FFF;
  font-family: Nova Square;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skill-text {
  color: #001320;
  font-family: Nova Square;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.pj-project-name{
  color: #00223A;
  font-family: Nova Square;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-project-int {
  border: 1px solid #FFF;
  background: #48FFD5;
  box-shadow: 5px 5px 1px 0px #FFF;
  padding: 29px;
}

.ln-project{
  border: 2px solid #48FFD5;

}

.project-links{

}

.project-list {
  margin-top: 50px;
}
.img-project-externa {
  border: 1px solid #48FFD5;
  box-shadow: 5px 5px 1px 0px #FFF;
  padding: 2%;
}

.project-links {
  text-align: center;
  margin-top: 13%;
}

.btn-project{
  border-radius: 15px;
border: 1px solid #48FFD5;
color: #00223A;
background-color: #48FFD5;
  width: 37%;
}

.img-project-externa img{
 width: 100%;
}

.project-text {
  color: #FFF;
  font-family: Nova Square;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.project-tech {
  color: #FFF;
  font-family: Nova Square;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-imgs-principal{
  border: 1px solid #48FFD5;
  box-shadow: 5px 5px 1px 0px #FFF;
  padding: 2%;
  text-align: center;
}

.project-imgs-principal > img:nth-child(1) {
  width: 100%;
}


.project-imgs-secundaria{
  text-align: center;
}

.project-imgs-secundaria img{
  width: 100%;
}

.titulo-project h1{
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

[type="text"], [type="email"] {
  border: 1px solid #48ffd5 !important;
  border-radius: 30px !important;

}

[type="submit"]{
    border-radius: 15px;
}

textarea {
  height: 108px;
  border: 1px solid rgb(72, 255, 213) !important;
  border-radius: 30px !important;
  padding: 3% !important;
}

input::placeholder {
  margin-left: 5px !important;
}


.contact-link{
  color: #48ffd5;
border: 2px solid #48ffd5;
padding-top: 0%;
padding-bottom: 0%;
font-size: 27px;
padding-left: 2%;
border-radius: 34px;
text-align: center;
margin: 2%;
box-shadow: 7px 4px 6px #1e1e1e;
}

.contact-link p{
  font-size: 16px;
  color: #fff;
  margin: 0px;
}


.social-buttons {
  margin-top: 2%;
}

.btn-redes{
    font-size: 24px;
    background-color: #48ffd5 !important;
    color: #001320;
      border-radius: 10% 38% 10% 30%;
}
.sidenav {
  background: radial-gradient(50% 50% at 50% 50%, #00362BE0 0%, #001320 100%) !important;
}

.brand-logo-mobile{
  width: 98%;
  margin: 2%;
}

.job-info {
  display: flex;
}

.job-name > h3:nth-child(1) {
  color: #48FFD5;
  text-shadow: 2px 2px 0px #FFF;
  font-family: Nova Square;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.role {
  color: #FFF;
  font-family: Nova Square;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.job-desc {
  color: #48FFD5;
  text-shadow: 2px 2px 0px #FFF;
  font-family: Nova Square;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.job-info > img:nth-child(1) {
  border-radius: 15%;
  margin: 1%;
}

.img-about > img:nth-child(1) {
  width: 57%;
  border-radius: 30px;
  box-shadow: 2px 2px 8px #48ffd5;
}




@media only screen and (max-width: 428px)   {

  .brand-logo-mobile img{
    width: 98%;
    margin: 2%;
  }


  .brand-logo > img:nth-child(1) {
    width: 76%;
    margin-left: 65%;
  }

  .titulo-home {
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 65px;s
font-style: normal;
font-weight: 400;
line-height: normal;
  text-align: center;
}

.img-home{
  text-align: center;
}

.skills {
  color: #FFF;
font-family: Nova Square;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
  margin: 4%;
}

.contact-form {
  padding: 0 6% 18px 9%;
  border: 1px solid #48ffd5;
  border-radius: 15px;
}

.titulo-home h1 {
  font-size: 65px;
  text-align: center;
}

.project-links {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

 .img-project-externa img{
  width: 100%;
}

.titulo-project h1 {
  color: #48FFD5;
text-shadow: 4px 4px 1px #FFF;
font-family: Nova Square;
font-size: 39px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

}

.menu-item {
  border-radius: 15px !important;
border: 1px solid #48FFD5 !important;
background-color: #fff0 !important;


position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;

    letter-spacing: .5px;
      text-align: center;
        text-decoration: none;


        /*! height: 36px; */
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  margin: 0 6px 0 12px;
  width: 92%;
}

.menu-item:hover{
  color: #00223A !important;
    box-shadow: 2px 2px 9px #48FFD5 !important;
    background-color: #48ffd56b !important;

}

.current-menu-item{
  border-radius: 15px !important;
border: 1px solid #48FFD5 !important;
color: #00223A !important;
background-color: #48ffd56b !important;
  margin: 0 6px 0 12px !important;
}

div.center:nth-child(1) > img:nth-child(1) {
  margin-top: 11%;
}
h2 {
font-size: 29px !important;

}

.job-info {
  display: block;
  text-align: center;
}




}
